<div [ngAttributes]="getIce({ model })">
  <h1 [ngAttributes]="getIce({ model, fieldId: 'title_s' })">
    {{ model['title_s'] }}
  </h1>
  <div [ngAttributes]="getIce({ model, fieldId: 'content_o' })">
    <div
      *ngFor="let component of model['content_o']; index as i"
      [ngAttributes]="getIce({ model, fieldId: 'content_o', index: i })"
    >
      <div [ngAttributes]="getIce({ model: component })">
        <div
          class="backgroud"
          [ngStyle]="{ 'background-image': 'url(' + baseUrl + component['background_s'] + ')' }"
          [ngAttributes]="getIce({ model: component, fieldId: 'background_s' })"
        >
          <h2 [ngAttributes]="getIce({ model: component, fieldId: 'title_s' })">
            {{ component['title_s'] }}
          </h2>
        </div>
      </div>
  </div>
</div>